@charset "UTF-8";

.searchForm {
	margin: auto;
	margin-top: 20px;
	width: 40%;
	height: 55vh;
	border: 1px solid black;
	background: #DFE9F2;
	padding: 10px;
}

.title_div {
	
}

.title_text {
	font-size: 24px;
	padding: 5px;
	margin-bottom: 5px;
}

.notice_div {
	border: 1px solid black;
	padding: 10px;
	background: #ffffff;
	margin-bottom: 20px;
}

.notice_text {
	font-size: 14px;
}

.search_div_code {
	height: 15vh;
	background: #ffffff;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 30px;
}

.search_input_div {
	display: flex;
	height: 6vh;
	padding: 5px;
	justify-content: center;
}

.search_datas_div {
	display: flex;
	height: 6vh;
	padding: 5px;
	justify-content: flex-end;
}

.a_input_title {
	font-size: 24px;
}

.search_input {
	width: 60%;
	height: 30px;
	margin-right: 15px;
	font-size : 18px;
}

.search_input_datas {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 35px;
	border: 1px solid black;
	margin-right : 10px;
	padding : 5px;
}

.search_input_datas_text{
	font-size : 18px;
	margin-right : 10px;
}

.check_btn {
	width: 100px;
	height: 35px;
	font-size: 20px;
	margin-left: 10px;
}

.search_div_date {
	height: 10vh;
	background: #ffffff;
	border: 1px solid black;
	padding: 10px;
}

.input_date_div {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	align-items: center;
}

.a_input_date {
	font-size: 24px;
}

.input_date {
	width: 32%;
	height: 40px;
}

.tilde{
	font-size : 24px;
}

.total_date_ckbox{
	font-size : 16px;
}

.select_reset_btn_div {
	display: flex;
	height: 6vh;
	padding: 10px;
	margin-top : 20px;
	justify-content: center;
}

.select_btn {
	width: 100px;
	height: 35px;
	font-size: 20px;
	margin-left: 10px;
}

.reset_btn {
	width: 100px;
	height: 35px;
	font-size: 20px;
	margin-left: 60px;
}