@charset "UTF-8";

.searchForm {
	margin: auto;
	margin-top : 15px;
	width: 40%;
	height: 86vh;
	border: 1px solid black;
	background: #DFE9F2;
	padding: 10px;
}

.title_div{
	
}

.title_text {
	font-size: 24px;
	padding: 5px;
	margin-bottom: 5px;
}

.notice_div {
	border: 1px solid black;
	padding: 10px;
	background: #ffffff;
	margin-bottom : 20px;
}

.notice_text {
	font-size: 14px;
}

.search_div {
	height: 30vh;
	background: #ffffff;
	border: 1px solid black;
	padding : 10px;
}

.search_input_div {
	display : flex;
	height: 6vh;
	padding : 5px;
	justify-content : center;
}

.search_input_title{
	font-size: 24px;
}

.search_input_code{
	width : 60%;
	height : 30px;
	margin-left : 10px;
	margin-right : 10px;
}

.search_input_datas{
	display : flex;
	width : 80%;
	height : 30px;
	justify-content : center;
}

.check_btn{
	width : 100px;
	height : 35px;
	font-size : 20px;
	margin-left : 10px;
}

.check_search_div {
	height: 25vh;
	background: #ffffff;
	border: 1px solid black;
	padding : 10px;
	margin-top : 50px;
}

.add_btn{
	width : 70px;
	height : 30px;
	font-size : 14px;
	float : right;
	margin : 5px;
}

.del_btn{
	width : 70px;
	height : 30px;
	float : right;
	font-size : 14px;
	margin : 5px;
}

.select_reset_btn_div{
	display : flex;
	height : 6vh;
	padding : 10px;
	margin-left : 70px;
	justify-content : center;
}

.select_btn{
	width : 100px;
	height : 35px;
	font-size : 20px;
	margin-left : 10px;
}

.reset_btn{
	width : 100px;
	height : 35px;
	font-size : 20px;
	margin-left : 60px;
}

#grid{
	
}

#grid_second{
	
}


