.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #DFE9F2;
	padding: 15px 30px;
	margin-top: 10px;
}

.navbar-menu-container{
	flex-basis: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar-menu-item{
	margin-right: 30px;
}

.navbar-menu-item > a{
	text-decoration: none;
	font-size: 20px;
	transition: 300ms;
	font-weight: 600;
	color: #555555;
	transition: 300ms;
}

.navbar-menu-item > a:hover{
	color: #0075FF;
}


.navbar-user{
}

.navbar-btn{
	outline: none;
	background: #FFFFFF;
	border: 1px solid #0075FF;
	padding: 5px 10px;
}