#report-worker-content {
	grid-area: report-worker-content;
	display: flex;
	flex-direction: column;
}

#report-worker-content-top {
	flex-basis: 15%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	border: 1px solid #DDDDDD;
}

.report-worker-content-top-left {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.report-worker-content-top-left>label {
	font-size: 20px;
	font-weight: 600;
	color: #444444;
	margin-right: 20px;
}

#worker-id{
	outline: none;
	font-size: 20px;
}


.report-worker-content-top-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.report-worker-content-top-center>span {
	font-size: 20px;
	font-weight: 600;
	color: #444444;
	margin-right: 20px;
}

.report-worker-content-top-right {
	
}

#search-btn {
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#report-worker-content-bottom {
	flex-basis: 85%;
	border: 1px solid #DDDDDD;
}

#grid{
	width : 100%;
}