<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ApiDao">

	<select id="getDeviceList"
		resultType="com.example.demo.dto.ApiDeviceControllVO">

		SELECT
		DEVICE_ID,
		DEVICE_NAME
		FROM
		tb_device_info;

	</select>

	<insert id="saveDevice"
		parameterType="com.example.demo.dto.ApiDeviceControllVO">

		INSERT INTO
		tb_device_info(
		DEVICE_ID,
		DEVICE_NAME

		)VALUES (
		#{deviceId},
		#{deviceName}
		)
	</insert>

	<update id="updateDevice"
		parameterType="com.example.demo.dto.ApiDeviceControllVO">

		UPDATE tb_device_info
		SET
		DEVICE_NAME = #{deviceName}
		WHERE
		DEVICE_ID = #{deviceId};

	</update>

	<select id="chkDeviceId" resultType="String">

		SELECT
		DEVICE_ID
		FROM
		tb_device_info
		WHERE
		DEVICE_ID = #{deviceId};

	</select>

	<delete id="delPerDate"
		parameterType="com.example.demo.dto.ApiDeviceControllVO">

		DELETE FROM tb_count_per_day
		WHERE
		DEVICE_ID =
		#{deviceId};

	</delete>

	<delete id="delDevice"
		parameterType="com.example.demo.dto.ApiDeviceControllVO">

		DELETE FROM tb_device_info
		WHERE
		DEVICE_ID = #{deviceId};

	</delete>

	<select id="currentCount"
		parameterType="com.example.demo.dto.ApiTagInfoVO"
		resultType="com.example.demo.dto.ApiTagCountVO">

		SELECT
		LOCATION,
		COUNT
		FROM
		tb_device_current_count
		WHERE
		DEVICE_ID = #{deviceId};

	</select>

	<select id="chkLocationInfo"
		parameterType="com.example.demo.dto.ApiTagInfoVO"
		resultType="com.example.demo.dto.ApiChkTagInfoVO">
		<!-- resultType="com.example.demo.dto.ApiChkTagInfoVO"> -->

		SELECT
		B.ITEM_CODE,
		B.ITEM_NAME
		FROM
		tb_tag_current_location A
		LEFT JOIN tb_item_info B
		ON A.TAG = B.TAG
		WHERE
		A.DEVICE_ID =
		#{deviceId}
		AND
		A.LOCATION = #{location};

	</select>
	
	<select id="getColRowNum"
	parameterType="com.example.demo.dto.ApiTagInfoVO"
	resultType="com.example.demo.dto.ApiTagInfoVO">
	<!-- resultType="com.example.demo.dto.ApiColRowNumVO"> -->

		SELECT
		COL_NUM,
		ROW_NUM
		FROM
		tb_device_info
		WHERE
		DEVICE_ID =
		#{deviceId};

	</select>

	<insert id="regTag"
		parameterType="com.example.demo.dto.ApiItemTagInfoVO">

		INSERT INTO
		tb_item_info(
		TAG,
		ITEM_CODE,
		ITEM_NAME,
		ITEM_GROUP,
		ITEM_STANDARD,
		ITEM_ADMIN,
		ITEM_DEPART,
		ITEM_SITE,
		ITEM_ROOM,
		ITEM_GET_DATE,
		ITEM_GET_PRICE,
		ITEM_NOTE

		)VALUES (
		#{tag},
		#{itemCode},
		#{itemName},
		#{itemGroup},
		#{itemStandard},
		#{itemAdmin},
		#{itemDepart},
		#{itemSite},
		#{itemRoom},
		#{itemGetDate},
		#{itemGetPrice},
		#{itemNote}
		)
	</insert>
	
	<select id="getSearchTag"
		resultType="com.example.demo.dto.ApiItemTagInfoVO">

		SELECT
		ITEM_CODE,
		ITEM_NAME,
		ITEM_GROUP,
		ITEM_STANDARD,
		ITEM_ADMIN,
		ITEM_DEPART,
		ITEM_SITE,
		ITEM_ROOM,
		ITEM_GET_DATE,
		ITEM_GET_PRICE,
		ITEM_NOTE
		
		FROM tb_item_info
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="tag != null and tag != ''">
		AND
		TAG like CONCAT('%', #{tag},'%')
		</if>
		
		<if test="itemCode != null and itemCode != ''">
		AND
		ITEM_CODE like CONCAT('%',#{itemCode},'%')
		</if>
		
		<if test="itemName != null and itemName != ''">
		AND
		ITEM_NAME like CONCAT('%',#{itemName},'%')
		</if>
		
		<if test="itemGroup != null and itemGroup != ''">
		AND
		ITEM_GROUP like CONCAT('%',#{itemGroup},'%')
		</if>
		
		<if test="itemStandard != null and itemStandard != ''">
		AND
		ITEM_STANDARD like CONCAT('%',#{itemStandard},'%')
		</if>
		
		<if test="itemAdmin != null and itemAdmin != ''">
		AND
		ITEM_ADMIN like CONCAT('%',#{itemAdmin},'%')
		</if>
		
		<if test="itemDepart != null and itemDepart != ''">
		AND
		ITEM_DEPART like CONCAT('%',#{itemDepart},'%')
		</if>
		
		<if test="itemSite != null and itemSite != ''">
		AND
		ITEM_SITE like CONCAT('%',#{itemSite},'%')
		</if>
		
		<if test="itemRoom != null and itemRoom != ''">
		AND
		ITEM_ROOM like CONCAT('%',#{itemRoom},'%')
		</if>
		
		<if test="itemGetDate != null and itemGetDate != ''">
		AND
		ITEM_GET_DATE like CONCAT('%',#{itemGetDate},'%')
		</if>
		
		<if test="itemGetPrice != null and itemGetPrice != ''">
		AND
		ITEM_GET_PRICE like CONCAT('%',#{itemGetPrice},'%')
		</if>
		
		<if test="itemNote != null and itemNote != ''">
		AND
		ITEM_NOTE like CONCAT('%',#{itemNote},'%')
		</if>
		</trim>
		
	</select>
	
	<update id="updateTag"
		parameterType="com.example.demo.dto.ApiItemTagInfoVO">

		UPDATE tb_item_info
		<trim prefix = "SET" suffixOverrides = ",">
		<if test="itemCode != null and itemCode != ''">
		ITEM_CODE = #{itemCode},
		</if>
		
		<if test="itemName != null and itemName != ''">
		ITEM_NAME = #{itemName},
		</if>
		
		<if test="itemGroup != null and itemGroup != ''">
		ITEM_GROUP = #{itemGroup},
		</if>
		
		<if test="itemStandard != null and itemStandard != ''">
		ITEM_STANDARD = #{itemStandard},
		</if>
		
		<if test="itemAdmin != null and itemAdmin != ''">
		ITEM_ADMIN = #{itemAdmin},
		</if>
		
		<if test="itemDepart != null and itemDepart != ''">
		ITEM_DEPART = #{itemDepart},
		</if>
		
		<if test="itemSite != null and itemSite != ''">
		ITEM_SITE = #{itemSite},
		</if>
		
		<if test="itemRoom != null and itemRoom != ''">
		ITEM_ROOM = #{itemRoom},
		</if>
		
		<if test="itemGetDate != null and itemGetDate != ''">
		ITEM_GET_DATE = #{itemGetDate},
		</if>
		
		<if test="itemGetPrice != null and itemGetPrice != ''">
		ITEM_GET_PRICE = #{itemGetPrice},
		</if>
		
		<if test="itemNote != null and itemNote != ''">
		ITEM_NOTE = #{itemNote},
		</if>
		</trim>
		
		WHERE
		TAG = #{tag};

	</update>
	
	<delete id="deleteTag"
		parameterType="com.example.demo.dto.ApiItemTagInfoVO">

		DELETE FROM tb_item_info
		WHERE
		TAG =
		#{tag};

	</delete>
	
	<select id="inputHistorySearch"
		resultType="com.example.demo.dto.ApiItemTagInfoVO">

		SELECT
		A.ITEM_CODE,
		A.ITEM_NAME,
		A.ITEM_GROUP,
		A.ITEM_STANDARD,
		A.ITEM_ADMIN,
		A.ITEM_DEPART,
		A.ITEM_SITE,
		A.ITEM_ROOM,
		A.ITEM_GET_DATE,
		A.ITEM_GET_PRICE,
		A.ITEM_NOTE,
		B.DATE_TIME
		FROM 
		tb_item_info A
		LEFT JOIN tb_tag_input_history B
		ON A.TAG = B.TAG
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		
		AND A.TAG = B.TAG
		
		AND DEVICE_ID = #{deviceId}
		
		<if test="tag != null and tag != ''">
		AND
		A.TAG like CONCAT('%', #{tag},'%')
		</if>
		
		<if test="itemCode != null and itemCode != ''">
		AND
		A.ITEM_CODE like CONCAT('%',#{itemCode},'%')
		</if>
		
		<if test="itemName != null and itemName != ''">
		AND
		A.ITEM_NAME like CONCAT('%',#{itemName},'%')
		</if>
		
		<if test="itemGroup != null and itemGroup != ''">
		AND
		A.ITEM_GROUP like CONCAT('%',#{itemGroup},'%')
		</if>
		
		<if test="itemStandard != null and itemStandard != ''">
		AND
		A.ITEM_STANDARD like CONCAT('%',#{itemStandard},'%')
		</if>
		
		<if test="itemAdmin != null and itemAdmin != ''">
		AND
		A.ITEM_ADMIN like CONCAT('%',#{itemAdmin},'%')
		</if>
		
		<if test="itemDepart != null and itemDepart != ''">
		AND
		A.ITEM_DEPART like CONCAT('%',#{itemDepart},'%')
		</if>
		
		<if test="itemSite != null and itemSite != ''">
		AND
		A.ITEM_SITE like CONCAT('%',#{itemSite},'%')
		</if>
		
		<if test="itemRoom != null and itemRoom != ''">
		AND
		A.ITEM_ROOM like CONCAT('%',#{itemRoom},'%')
		</if>
		
		<if test="itemGetDate != null and itemGetDate != ''">
		AND
		A.ITEM_GET_DATE like CONCAT('%',#{itemGetDate},'%')
		</if>
		
		<if test="itemGetPrice != null and itemGetPrice != ''">
		AND
		A.ITEM_GET_PRICE like CONCAT('%',#{itemGetPrice},'%')
		</if>
		
		<if test="itemNote != null and itemNote != ''">
		AND
		A.ITEM_NOTE like CONCAT('%',#{itemNote},'%')
		</if>
	
		</trim>
	</select>
	
	<select id="outputHistorySearch"
		resultType="com.example.demo.dto.ApiItemTagInfoVO">

		SELECT
		A.ITEM_CODE,
		A.ITEM_NAME,
		A.ITEM_GROUP,
		A.ITEM_STANDARD,
		A.ITEM_ADMIN,
		A.ITEM_DEPART,
		A.ITEM_SITE,
		A.ITEM_ROOM,
		A.ITEM_GET_DATE,
		A.ITEM_GET_PRICE,
		A.ITEM_NOTE,
		B.DATE_TIME
		FROM 
		tb_item_info A
		LEFT JOIN tb_tag_output_history B
		ON A.TAG = B.TAG
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		
		AND A.TAG = B.TAG
		
		AND DEVICE_ID = #{deviceId}
		
		<if test="tag != null and tag != ''">
		AND
		A.TAG like CONCAT('%', #{tag},'%')
		</if>
		
		<if test="itemCode != null and itemCode != ''">
		AND
		A.ITEM_CODE like CONCAT('%',#{itemCode},'%')
		</if>
		
		<if test="itemName != null and itemName != ''">
		AND
		A.ITEM_NAME like CONCAT('%',#{itemName},'%')
		</if>
		
		<if test="itemGroup != null and itemGroup != ''">
		AND
		A.ITEM_GROUP like CONCAT('%',#{itemGroup},'%')
		</if>
		
		<if test="itemStandard != null and itemStandard != ''">
		AND
		A.ITEM_STANDARD like CONCAT('%',#{itemStandard},'%')
		</if>
		
		<if test="itemAdmin != null and itemAdmin != ''">
		AND
		A.ITEM_ADMIN like CONCAT('%',#{itemAdmin},'%')
		</if>
		
		<if test="itemDepart != null and itemDepart != ''">
		AND
		A.ITEM_DEPART like CONCAT('%',#{itemDepart},'%')
		</if>
		
		<if test="itemSite != null and itemSite != ''">
		AND
		A.ITEM_SITE like CONCAT('%',#{itemSite},'%')
		</if>
		
		<if test="itemRoom != null and itemRoom != ''">
		AND
		A.ITEM_ROOM like CONCAT('%',#{itemRoom},'%')
		</if>
		
		<if test="itemGetDate != null and itemGetDate != ''">
		AND
		A.ITEM_GET_DATE like CONCAT('%',#{itemGetDate},'%')
		</if>
		
		<if test="itemGetPrice != null and itemGetPrice != ''">
		AND
		A.ITEM_GET_PRICE like CONCAT('%',#{itemGetPrice},'%')
		</if>
		
		<if test="itemNote != null and itemNote != ''">
		AND
		A.ITEM_NOTE like CONCAT('%',#{itemNote},'%')
		</if>
	
		</trim>
	</select>

</mapper>