<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DevConDao">
	
	<select id="chkDeviceId" resultType="String">

		SELECT
		DEVICE_ID
		FROM
		tb_device_info
		WHERE
		DEVICE_ID = #{deviceId}
		AND
		STATE = "1";

	</select>
	
	<select id="saveChkDeviceId" resultType="String">

		SELECT
		DEVICE_ID
		FROM
		tb_device_info
		WHERE
		DEVICE_ID = #{deviceId};

	</select>
	
	<insert id="saveDevice"
		parameterType="com.example.demo.dto.ApiDeviceControllVO">

		INSERT INTO
		tb_device_info(
		DEVICE_ID,
		DEVICE_NAME

		)VALUES (
		#{deviceId},
		#{deviceName}
		)
	</insert>

	<update id="updateDevice"
		parameterType="com.example.demo.dto.ApiDeviceControllVO">

		UPDATE tb_device_info
		SET
		DEVICE_NAME = #{deviceName}
		WHERE
		DEVICE_ID = #{deviceId};

	</update>

	<update id="delDevice"
		parameterType="com.example.demo.dto.ApiDeviceControllVO">

		UPDATE tb_device_info
		SET
		STATE = 0
		WHERE
		DEVICE_ID = #{deviceId};

	</update>
	
	<select id="getColRowNum"
	parameterType="com.example.demo.dto.ApiTagInfoParam"
	resultType="com.example.demo.dto.ApiColRowNumVO">

		SELECT
		COL_NUM,
		ROW_NUM
		FROM
		tb_device_info
		WHERE
		DEVICE_ID =
		#{deviceId};

	</select>
	
	<select id="chkDevInfo"
	parameterType="com.example.demo.dto.ApiTagInfoParam"
	resultType="com.example.demo.dto.ApiChkDevVO">

		SELECT
		DEVICE_ID,
		DEVICE_NAME,
		COL_NUM,
		ROW_NUM,
		CASE (STATE)
        WHEN "1" THEN 'Y'
        WHEN "0" THEN 'N'
        END AS STATE
		FROM
		tb_device_info
		WHERE
		DEVICE_ID =
		#{deviceId};

	</select>
	
	<select id="getDeviceList"
		resultType="com.example.demo.dto.ApiDeviceControllVO">

		SELECT
		DEVICE_ID,
		DEVICE_NAME
		FROM
		tb_device_info
		WHERE STATE = "1";

	</select>
	
	<update id="updateColRowNum"
		parameterType="com.example.demo.dto.ApiTagInfoParam">

		UPDATE tb_device_info
		SET
		COL_NUM = #{colNum},
		ROW_NUM = #{rowNum}
		WHERE
		DEVICE_ID = #{deviceId};

	</update>

</mapper>