<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ItemTagDao">
	
	<select id="chkTag" resultType="String">

		SELECT
		TAG
		FROM
		tb_item_info
		WHERE
		TAG = #{tag};

	</select>
	
	<select id="chkItemCode" resultType="String">

		SELECT
		ITEM_CODE
		FROM
		tb_item_info
		WHERE
		ITEM_CODE = #{itemCode};

	</select>
	
	<select id="chkItemCodeArr" resultType="String">

		SELECT
		ITEM_CODE
		FROM
		tb_item_info
		WHERE
		ITEM_CODE IN(
		<foreach collection="itemCodeArr" item="itemCodeArr"
				separator=",">
				#{itemCodeArr}
			</foreach>
		)
	</select>

	<insert id="saveTag"
		parameterType="com.example.demo.dto.ApiItemTagInfoParam">

		INSERT INTO
		tb_item_info(
		TAG,
		ITEM_CODE,
		ITEM_NAME,
		ITEM_GROUP,
		ITEM_STANDARD,
		ITEM_ADMIN,
		ITEM_DEPART,
		ITEM_SITE,
		ITEM_ROOM,
		ITEM_GET_DATE,
		ITEM_GET_PRICE,
		ITEM_NOTE

		)VALUES (
		#{tag},
		#{itemCode},
		#{itemName},
		#{itemGroup},
		#{itemStandard},
		#{itemAdmin},
		#{itemDepart},
		#{itemSite},
		#{itemRoom},
		#{itemGetDate},
		#{itemGetPrice},
		#{itemNote}
		)
	</insert>

	<select id="getSearchTag"
		parameterType="com.example.demo.dto.ApiItemTagInfoParam"
		resultType="com.example.demo.dto.GetSearchTagVO">

		SELECT
		ITEM_CODE,
		ITEM_NAME,
		ITEM_GROUP,
		ITEM_STANDARD,
		ITEM_ADMIN,
		ITEM_DEPART,
		ITEM_SITE,
		ITEM_ROOM,
		ITEM_GET_DATE,
		ITEM_GET_PRICE,
		ITEM_NOTE

		FROM tb_item_info

		<trim prefix="WHERE" prefixOverrides="AND">

			<if test="itemCode != null and itemCode != ''">
				AND
				ITEM_CODE like CONCAT('%',#{itemCode},'%')
			</if>

			<if test="itemName != null and itemName != ''">
				AND
				ITEM_NAME like CONCAT('%',#{itemName},'%')
			</if>

			<if test="itemGroup != null and itemGroup != ''">
				AND
				ITEM_GROUP like CONCAT('%',#{itemGroup},'%')
			</if>

			<if test="itemStandard != null and itemStandard != ''">
				AND
				ITEM_STANDARD like CONCAT('%',#{itemStandard},'%')
			</if>

			<if test="itemAdmin != null and itemAdmin != ''">
				AND
				ITEM_ADMIN like CONCAT('%',#{itemAdmin},'%')
			</if>

			<if test="itemDepart != null and itemDepart != ''">
				AND
				ITEM_DEPART like CONCAT('%',#{itemDepart},'%')
			</if>

			<if test="itemSite != null and itemSite != ''">
				AND
				ITEM_SITE like CONCAT('%',#{itemSite},'%')
			</if>

			<if test="itemRoom != null and itemRoom != ''">
				AND
				ITEM_ROOM like CONCAT('%',#{itemRoom},'%')
			</if>

			<if test="itemGetDate != null and itemGetDate != ''">
				AND
				ITEM_GET_DATE like CONCAT('%',#{itemGetDate},'%')
			</if>

			<if test="itemGetPrice != null and itemGetPrice != ''">
				AND
				ITEM_GET_PRICE like CONCAT('%',#{itemGetPrice},'%')
			</if>

			<if test="itemNote != null and itemNote != ''">
				AND
				ITEM_NOTE like CONCAT('%',#{itemNote},'%')
			</if>
		</trim>

	</select>
	
	<update id="updateTag"
		parameterType="com.example.demo.dto.ApiItemTagInfoParam">

		UPDATE tb_item_info
		<trim prefix = "SET" suffixOverrides = ",">
		
		<if test="itemName != null and itemName != ''">
		ITEM_NAME = #{itemName},
		</if>
		
		<if test="itemGroup != null and itemGroup != ''">
		ITEM_GROUP = #{itemGroup},
		</if>
		
		<if test="itemStandard != null and itemStandard != ''">
		ITEM_STANDARD = #{itemStandard},
		</if>
		
		<if test="itemAdmin != null and itemAdmin != ''">
		ITEM_ADMIN = #{itemAdmin},
		</if>
		
		<if test="itemDepart != null and itemDepart != ''">
		ITEM_DEPART = #{itemDepart},
		</if>
		
		<if test="itemSite != null and itemSite != ''">
		ITEM_SITE = #{itemSite},
		</if>
		
		<if test="itemRoom != null and itemRoom != ''">
		ITEM_ROOM = #{itemRoom},
		</if>
		
		<if test="itemGetDate != null and itemGetDate != ''">
		ITEM_GET_DATE = #{itemGetDate},
		</if>
		
		<if test="itemGetPrice != null and itemGetPrice != ''">
		ITEM_GET_PRICE = #{itemGetPrice},
		</if>
		
		<if test="itemNote != null and itemNote != ''">
		ITEM_NOTE = #{itemNote},
		</if>
		</trim>
		
		WHERE
		ITEM_CODE = #{itemCode};

	</update>
	
	<delete id="deleteTag"
		parameterType="com.example.demo.dto.ApiItemTagInfoParam">

		DELETE FROM tb_item_info
		WHERE
		ITEM_CODE IN(
		<foreach collection="itemCodeArr" item="itemCodeArr"
				separator=",">
				#{itemCodeArr}
			</foreach>
		)

	</delete>

</mapper>